body, html {
    margin: 0; 
    overflow: hidden; 
    height: 100%;
    font-size: 1.5vw;
}

.clickablediv 
{
    border: 1px solid black; 
    width: 4vw; 
    height: 4vw;
    cursor: pointer;
    margin-right: 1vw;
}


.line1
{
    display: flex;
    position: relative;
    left: 50vw;
    top: 2vw;
}

.line2
{
    display: flex;
    position: relative;
    left: 45vw; 
    top: 6vw;
    
}
.line3
{
    display: flex;
    position: relative;
    left: 40vw; 
    top: 10vw;
}

svg {
    top: 0px;
    left: 0px;
    pointer-events: none;
}

polygon {
    pointer-events: fill;
    right: 100px;
}

#output {
  margin-top: 120px;
}

.trianglediv
{
    pointer-events: none; 
    width: 100px;
    height: 100px;
    /* transform-origin: 50% 57.74%; */
    transform: rotate(0deg);
    position: relative;


}



.btn 
{
    pointer-events: all;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 40px;
    top: -60px;

}